<header>
	<h1>back-end / front-end <br>development</h1>
</header>
<main></main>


	<section class="intro" >
	  <div class="container" id="personal_profile">
			<div class="col-sm-4" id="profile_picture">
				<%= image_tag "profile_picture.jpeg" %>
			</div>
			<div class="col-sm-4" id="profile_text">
				<h2>I'm that kind of girl</h2>
				<p></p>
			</div>
	  </div>
	</section>

	<section class="col-sm-4 timeline">
		<ul>
		  <li>
		    <div class="timeline_element">
		      <time>1987</time>
		      Birth
		    </div>
		  </li>
			<li>
		    <div class="timeline_element">
		      <time>2005</time>
		      Moved to The Netherlands to study architecture in Delft
		    </div>
		  </li>
			<li>
		    <div class="timeline_element">
		      <time>2012</time>
		      MSc Architecture
		    </div>
		  </li>
			<li>
		    <div class="timeline_element">
		      <time>2015</time>
		      Happitech
		    </div>
		  </li>
			<li>
		    <div class="timeline_element">
		      <time>2017</time>
		      Moved to Hong Kong
		    </div>
		  </li>

		  <!-- more list items here -->
		</ul>
	</section>
