@import "bootstrap-sprockets";
@import "bootstrap";

nav {
	background: none;
	position: absolute;
	top: 0;
	height: 70px;
	left: 0;
	right: 0;
	z-index: 1000;
}

.navbar {
	padding-left: 0;
	border-radius: 0;
	margin: 0;
	padding: 10px 0;
}

div {
	display: block;
}

.content {
	padding-top: 50px;
}

// header {
// 	height: 100vh;
// 	background: rgba(2,2,2,0.9);
// 	overflow: hidden;
// 	position: relative;
// 	opacity: 0.3;
// 	h1 {
// 		height: 90vh;
// 		width: 100%;
// 		position: fixed;
// 		display: flex;
// 		align-self: center;
// 		align-items: center;
// 		justify-content: center;
// 		color: white;
// 		font-size: 5vw;
// 		letter-spacing: 8px;
// 		margin: 0;
// 		background-image: url("https://static.pexels.com/photos/163130/keyboard-black-notebook-input-163130.jpeg");
//   -webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
// 	}
// }
// body {
// 	background-image: url("https://static.pexels.com/photos/163130/keyboard-black-notebook-input-163130.jpeg");
// 	background-attachment: fixed;
// }
// main {
// 	background: white;
// 	min-height: 200vh;
// 	width: 100%;
// }
