@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Poppins');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


div {
	display: inline-block;
}

body {
	background-image:
  url("https://static.pexels.com/photos/331684/pexels-photo-331684.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
	letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  color: #f1f1f3;
}

/******* NAVIGATION BAR *********/
nav li {
  list-style-type: none;
  line-height: 24px;
}

a {
  color: #34b3a0;
}

a:hover, a:focus {
    color: #f1f1f3;
    text-decoration: none;
    font-style: italic;
    background-color: #34b3a0;
    padding: 3px;
}

.container:before {
  content: none;
}

/********* FONTS ********/
h1, h2, h5  {
	color:  #34b3a0;
}


/******* TIMELINE *******/

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container div img {
	width: 300px;
}

// #profile_picture {
//   border: solid 25px #12294a;
//   float: right;
// }


/** LINE **/
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #34b3a0;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

/** TIMELINE ELEMENTS **/

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #34b3a0;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #34b3a0 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #34b3a0;
}

/** HIDE AND SHOW ELEMENTS **/

.timeline ul li::after {
  background: #34b3a0;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background:#34b3a0;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/** RESPONSIVENESS **/

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #34b3a0 transparent transparent;
  }
}

/********** SKILLS ***********/
.skills {
  background-color: #34b3a0;
}


.skills li {
  list-style-type: none;
}



#skill_title h3 {
	text-align: center;
}

// #skill_list {
// 	color: #34b3a0;
// }
//
// #skill_proficiency {
// 	color: #34b3a0;
// }
